<script type="text/javascript" src="<%= DocumentEngine.external_url %>/nutrient-viewer.js"></script>

<header class="navbar">
  <div class="navbar-left">
    <%= link_to "Documents", root_path, :class => "navbar-icon" %>
  </div>
  <div class="navbar-center">
    <h1><%= @document.title %></h1>
  </div>
  <div class="navbar-right">
    <% if instant_enabled? %>
      <a href="?instant=false" class="btn btn-success navbar-btn">Instant: ON</a>
    <% else %>
      <a href="?instant=true" class="btn btn-default navbar-btn">Instant: OFF</a>
    <% end %>
    <% if current_user == @document.owner %>
      <%= link_to 'Delete document', @document, method: :delete, class: "btn btn-danger navbar-btn", data: { confirm: "Do you really want to delete this document?" } %>
    <% end %>
  </div>
</header>

<main class="document">
  <div id="doc-viewer" class="viewer"></div>
  <script>
    var configuration = {
      authPayload: {
        jwt: <%= @document.get_jwt(@layer).html_safe %>
      },
      container: "#doc-viewer",
      documentId: "<%= @document.server_id %>",
      instant: <%= instant_enabled? %>,
    };

    NutrientViewer.load(configuration).catch(function(error) {
      console.log(error);
    });
  </script>
  <div class="sidebar">
    <h3 class="sidebar-title">Who can see this document?</h3>
    <%= form_tag share_document_path(@document), method: :post do |f| %>
      <ul class="list-group">
      <% User.all.each do |u| %>
        <li class="list-group-item">
          <label>
            <% if @document.owner == u %>
              <%= check_box_tag "owner", u.id, true, disabled: true %>
              <span class="owner">
                <%= u.name %> (Owner)
              </span>
            <% else %>
              <%= check_box_tag "users[]", u.id, u.access?(@document) %><%= u.name %>
            <% end %>
          </label>
        </li>
      <% end %>
      </ul>
      <%= submit_tag "Update Share Settings", class: "btn list-group-btn" %>
    <% end %>

    <h3 class="sidebar-title">Available Layers</h3>
    <ul class="list-group">
      <% @layers.each do |l| %>
      <li class="list-group-item<%= l == @layer ? ' current' : '' %>">
          <% if (l == "") %>
            <%= link_to "Default Layer", @document %>
          <% else  %>
            <%= link_to l, document_layer_path(@document, l) %>
          <% end %>
        </a>
      </li>
      <% end %>
    </ul>
    <div class="create-layer-form">
      <h3 class="sidebar-title">Create New Layer</h3>
      <%= form_tag document_layers_path(@document), method: :post do |f| %>
        <%= text_field_tag "layer" %>
        <%= submit_tag "Create Layer", class: "btn list-group-btn" %>
      <% end %>
    </div>
  </div>
</main>
